:root {
  --logo: #e50914;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway";
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.showcase {
  background: url("https://i.ibb.co/vXqDmnh/background.jpg") no-repeat center
    center / cover;
  width: 100%;
  height: 93vh;
  opacity: 0.9;
  position: relative;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;
}

.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
}

.showcase-top img {
  width: 170px;
  top: 50%;
  left: 10%;
  position: absolute;

  transform: translate(-50%, -50%);
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
.showcase-content {
  display: grid;
  margin-top: 18vh;
  align-content: center;
  justify-content: center;
  grid-gap: 20px;
  text-align: center;
  color: white;
  z-index: 2;
  position: relative;
}

.showcase-content h2 {
  font-size: 50px;
  font-weight: 800;
  line-height: 1.1;
}

.showcase-content p {
  font-size: 30px;
  font-weight: 400;
}

/* Tabs */

.tabs {
  border-top: 3px solid #3d3d3d;
  padding-top: 1rem;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  max-width: 70%;
  overflow: hidden;
  margin: auto;
  padding: 0 2rem;
}

.tabs p {
  padding: 10px 10px;
  font-size: 1.2rem;
}

.tab-item {
  padding-top: 20px;
}

.tab-item:hover {
  cursor: pointer;
  color: white;
}

.tab-border {
  border-bottom: 4px solid #e50914;
}

/* Tab content*/

.tab-content {
  padding: 3rem 0;
}

.tab-1-content-inner {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.text-lg {
  font-size: 1.8rem;
  font-weight: 400;
  color: white;
}

.text-md {
  font-size: 1rem;
  color: white;
}

.tab-content-item {
  display: none;
}

.show {
  display: block;
}
.tab-2-content-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 15px;
}

.tab-2-content-bottom {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
}

.table thead th {
  text-transform: uppercase;
  padding: 1rem;
}

.table tbody tr td {
  padding: 14px 20px;
  color: #999;
  text-align: center;
}

.table tbody tr td:first-child {
  text-align: left;
}

.table tbody tr:nth-child(odd) {
  background: #222;
}
.footer {
  max-width: 75%;
  margin: 1rem auto;
  overflow: auto;
}

.footer a {
  color: #999;
  font-size: 0.9rem;
}

.footer p {
  margin: 1.2rem;
}

.footer li {
  line-height: 1.9;
}
.footer-cols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

/* buttons */
.btn {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 2px;
  font-size: 1rem;
  background: var(--logo);
  color: white;
  text-align: center;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  margin-right: 10px;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 1.5rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
  justify-self: center;
}

@media (max-width: 960px) {
  .showcase {
    height: 70vh;
  }

  .hide-sm {
    display: none;
  }

  .showcase-top img {
    width: 140px;
  }

  .showcase-content {
    margin-top: 13vh;
    grid-gap: 17px;
  }

  .showcase-content h2 {
    font-size: 37px;
    font-weight: 600;
    line-height: 0.9;
  }

  .showcase-content p {
    font-size: 24px;
    font-weight: 300;
  }
  .tab-2-content-bottom {
    grid-template-columns: 1fr;
  }

  .text-xl {
    font-size: 1.5rem;
  }

  .text-lg {
    font-size: 1.3rem;
  }

  .text-md {
    font-size: 1rem;
  }
  .btn-xl {
    font-size: 1.2rem;
    padding: 1.1rem 1.7rem;
    text-transform: uppercase;
    justify-self: center;
  }
}

@media (max-width: 700px) {
  .showcase {
    height: 60vh;
  }

  .showcase-top img {
    left: 15%;
    width: 100px;
  }

  .showcase-content {
    margin-top: 11vh;
    grid-gap: 14px;
  }

  .showcase-content h2 {
    font-size: 25px;
    font-weight: 300;
    line-height: 0.7;
  }

  .showcase-content p {
    font-size: 19px;
    font-weight: 200;
  }

  .tab-2-content-top {
    display: block;
    text-align: center;
  }

  .tab-2-content-bottom {
    grid-template-columns: 1fr;
  }

  .tab-1-content-inner {
    grid-template-columns: 1fr;
  }

  .btn-xl {
    font-size: 1rem;
    padding: 0.8rem 1.4rem;
    text-transform: uppercase;
    justify-self: center;
  }

  .showcase::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 70px 60px 200px #000, inset -70px -60px 200px #000;
  }
}
